// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Source Sans Pro',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #37474f;
@c2: #ed1c24;
@c3: #ff5722;
@c4: #ff8f00;
@c5: #546e7a;
@cp: @c1; // color primary
@cl: @c3; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 16px;
@input-height: 40px;
@input-padding: 15px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 1160px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 0;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 990px) and (max-width: 1199px)";
@sm: ~"(min-width: 770px) and (max-width: 989px)";
@xs: ~"(max-width: 769px)";
@xxs: ~"(max-width: 479px)";