#page-header {
	padding: 0 0 9px;
	background: url(../images/example/01.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
	@media @sm, @xs {
		background: none;
	}
	.container {
		position: static;
	}
	.logo {
		position: relative;
		margin: 0;
		font-size: 30px;
		line-height: 1.45;
		font-weight: 300;
		letter-spacing: 0.045em;
		min-height: 105px;
		background: @c4;
		a {
			display: block;
			padding: 22px 40px 10px;
			text-decoration: none;
			color: #fff;
			strong {
				font-weight: 900;
			}
			mark {
				color: @c1;
				display: block;
				font-weight: normal;
				font-size: 18px;
				letter-spacing: 0.05em;
			}
		}
	}
	.toggle-menu {
		position: relative;
		z-index: 102;
		display: none;
		float: right;
		font-size: 0;
		width: 54px;
		height: 54px;
		line-height: 50px;
		margin: 0 0 20px 20px;
		padding: 0;
		border: 2px solid @c1;
		background: @c1;
		@media @sm, @xs {
			display: block;
		}
		.menu-on & {
			color: @c5;
			border-color: @c5;
			background: transparent;
			&:before{
				content: '\e816';
				font-size: 50px;
			}
		}
		&:hover{
			color: @c1;
			background: transparent;
		}
		&:before{
			.fi;
			content: '\f0c9';
			font-size: 30px;
			font-weight: normal;
		}
	}
}
.header_left {
	position: relative;
	z-index: 101;
	float: left;
	width: 760px;
	margin: 0 0 20px;
	@media @md, @sm, @xs {
		width: auto;
		float: none;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		width: 20%;
		background: url(../images/bg/02.png) no-repeat right;
		background-size: 100% auto;
		-webkit-opacity: 0.6;
		-moz-opacity: 0.6;
		opacity: 0.6;
		filter:alpha(opacity=60);
		@media @xs {
			display: none;
		}
	}
}
.header_right {
	position: relative;
	z-index: 101;
	float: right;
	width: 380px;
	margin: 0 0 20px;
	@media @md, @sm, @xs {
		float: none;
		width: auto;
	}
}
#container {
	.clearfix;
	position: relative;
	z-index: 101;
	padding: 30px 20px 10px;
	background: #fff;
	.menu-on & {
		display: none;
	}
	@media @sm, @xs {
		padding: 0;
	}
}
#col-main {
	float: left;
	width: 740px;
	@media @md {
		width: 620px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
#col-left {
	float: left;
	width: 320px;
	@media @md {
		width: 280px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
#col-right {
	float: right;
	width: 360px;
	@media @md {
		width: 280px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
#content {
	float: right;
	width: 720px;
	@media @md {
		width: 620px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
	}
}
.module_title {
	position: relative;
	z-index: 1;
	float: left;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 1.2;
	padding: 16px 20px 11px 20px;
	color: #fff;
	background: @c5 url(../images/bg/04.png) no-repeat bottom;
	background-size: 100% 10px;
	&:before{
		transform: skewx(18deg);
		content: '';
		position: absolute;
		top: 0;
		right: -10px;
		bottom: 0;
		width: 20px;
		background: @c5;
	}
	&:after{
		content: '';
		position: absolute;
		top: 100%;
		right: -17px;
		border: 18px solid transparent;
		border-bottom-width: 0;
		border-top-color: @c5;
	}
}
.mod_custom-quote {
	position: relative;
	padding: 18px 40px 10px;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 0.045em;
	line-height: 1.2;
	color: #ffd180;
	min-height: 54px;
	background: fade(@c3,90);
	&:before, &:after {
		content: '\201e';
		position: absolute;
		top: 100%;
		left: 7px;
		font-weight: bold;
		font-size: 60px;
		line-height: 1;
		margin: -55px 0 0;
	}
	&:after{
		content: '\201c';
		top: 0;
		left: 100%;
		margin: -18px 0 0 -37px;
	}
	blockquote {
		margin: 0;
		padding: 0 20px 0 0;
		display: inline-block;
		vertical-align: bottom;
		min-width: 67%;
	}
	.author {
		display: inline-block;
		vertical-align: bottom;
		font-size: 14px;
		letter-spacing: 0.035em;
	}
}
.mod_custom-translate {
	padding: 10px 0 0;
	text-align: right;
	min-height: 42px;
	background: #fff;
	@media @xs {
		display: none;
		float: left;
		.menu-on & {
			display: block;
		}
	}
	@media @md, @sm {
		float: right;
		width: 270px;
		padding: 15px 0 0;
		min-height: 54px;
		margin: 0 0 20px;
	}
	.goog-te-gadget-simple {
		border-color: transparent;
	}
}
.mod_menu-icon {
	background: #fff;
	@media @md, @sm {
		float: left;
		width: 325px;
		margin: 0 0 20px;
	}
	@media @xs {
		display: none;
		clear: both;
		text-align: center;
		margin: 0 0 20px;
		.menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		.clearfix;
		overflow: hidden;
		li {
			.rli;
			float: left;
			width: 16.6666%;
			@media @xs {
				float: none;
				display: inline-block;
				width: 54px;
			}
			&:hover{
				z-index: 1;
			}
			&:before{
				top: 8px;
				bottom: 8px;
				left: auto;
				right: 100%;
				width: 1px;
				background: #cfd8dc;
			}
			&.highlight {
				z-index: 2;
				a {
					color: #fff;
					background: @c4;
					&:hover{
						&:after{
							background: @c2;
						}
					}
					&:after{
						content: '';
						position: absolute;
						right: 100%;
						top: 0;
						bottom: 0;
						width: 1px;
						background: @c4;
					}
				}
			}
			a {
				position: relative;
				display: block;
				padding: 0 0 100%;
				font-size: 0;
				text-decoration: none;
				color: @c4;
				&:hover{
					color: #fff;
					background: @c2;
					&:before{
						font-size: 40px;
					}
				}
				&:before{
					.transition(font-size 0.1s);
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 32px;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					margin: -25px 0 0 -25px;
				}
			}
		}
	}
}
.mod_search {
	position: relative;
	@media @md {
		float: left;
		width: 345px;
		padding: 0 0 0 20px;
		margin: 0 0 20px;
	}
	@media @sm, @xs {
		clear: both;
		display: none;
		.menu-on & {
			display: block;
		}
	}
	@media @xs {
		float: none;
		width: auto;
	}
	[type="text"], [type="search"] {
		.border-radius(0);
		border-color: transparent;
		height: 54px;
		padding: 0 70px 0 22px;
		background: fade(#fff,50);
		@media @sm, @xs {
			border-color: @c5;
			&:hover, &:focus {
				border-color: @c4;
			}
		}
		&:hover, &:focus {
			border-color: transparent;
			background: fade(#fff,80);
		}
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		width: 60px;
		padding: 0 0 0 10px;
		text-align: left;
		font-size: 0;
		height: 54px;
		line-height: 54px;
		color: @c1;
		background: none;
		&:hover{
			color: #000;
		}
		&:before{
			.fi;
			.transition(0.2s);
			content: '\e814';
			font-size: 26px;
		}
	}
}
.hover_menu-main {
	&>a {
		margin: 0 9px;
		padding-left: 7px;
		padding-right: 7px;
		color: #fff;
		background: @c3;
		&:before{
			.rotate(0);
			display: none;
			top: 100%;
			left: 100%;
			width: 0;
			height: 0;
			margin: 0 0 0 -20px;
			background: none;
			border: 18px solid transparent;
			border-bottom: none;
			border-top-color: @c3;
		}
		&>span {
			background: @c3;
			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				left: -17px;
				border-left: 17px solid transparent;
				border-top: 65px solid @c3;
			}
			&:after {
				left: auto;
				right: -17px;
				border-left-color: @c3;
				border-top-color: transparent;
			}
		}
	}
	&.has-ul, &.act {
		&>a {
			&:before{
				display: block;
			}
		}
	}
}
.mod_menu-main {
	position: relative;
	z-index: 999;
	@media @sm, @xs {
		display: none;
		.menu-on & {
			display: block;
		}
	}
	clear: both;
	@media @lg, @md {
		position: relative;
		background: @c4;
		&:before{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 9px;
			background: fade(@c4,50);
		}
		&>ul {
			.rul;
			display: table;
			table-layout: fixed;
			width: 100%;
			&>li {
				.rli;
				position: static;
				display: table-cell;
				vertical-align: middle;
				&:first-child {
					&>a {
						&:hover{
							margin-left: 0;
							padding-left: 15px;
							&>span {
								&:before{
									display: none;
								}
							}
						}
					}
				}
				&:last-child {
					&>a {
						&:before{
							display: none;
						}
						&:hover{
							margin-right: 0;
							padding-right: 15px;
							&:before{
								margin: 0 0 0 -38px;
							}
							&>span {
								&:after{
									display: none;
								}
							}
						}
					}
				}
				&>a {
					position: relative;
					z-index: 1;
					color: @c1;
					display: block;
					vertical-align: middle;
					text-decoration: none;
					text-transform: uppercase;
					text-align: center;
					font-size: 14px;
					min-height: 60px;
					line-height: 60px;
					padding: 0 15px 5px;
					&:hover{
						
					}
					&:before{
						.rotate(-15deg);
						content: '';
						position: absolute;
						top: 50%;
						left: 100%;
						width: 2px;
						height: 50px;
						margin: -28px 0 0;
						background: #fff;
					}
					&>span {
						display: inline-block;
						vertical-align: middle;
						line-height: 1.4;
					}
				}
				&.act {
					.hover_menu-main;
					&:last-child {
						&>a {
							&:before{
								display: block;
							}
						}
					}
				}
				&:hover {
					.hover_menu-main;
					&>ul {
						display: block;
					}
				}
				&>ul {
					.rul;
					display: none;
					font-style: normal;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					padding: 38px 37px;
					background: #cfd8dc;
					border-top: 9px solid darken(@c4,3);
					&>li {
						.rli;
						line-height: 1.2;
						display: inline-block;
						vertical-align: top;
						width: 25%;
						padding: 0 0 0 20px;
						margin: 0 -4px 20px 0;
						a {
							position: relative;
							display: inline-block;
							padding: 0 0 0 28px;
							text-transform: uppercase;
							text-decoration: none;
							color: @c1;
							&:before{
								.fi;
								position: absolute;
								content: '\e809';
								top: 0;
								left: 0;
								font-size: 14px;
								line-height: 1;
								color: @c3;
							}
							&:hover{
								text-decoration: underline;
							}
						}
						ul {
							.rul;
							margin: 15px 0 0 30px;
							li {
								.rli;
								a {
									text-transform: none;
									padding-left: 20px;
									&:before{
										.fp;
										content: '-';
										color: @c1;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media @sm, @xs {
		&>ul {
			.rul;
			&>li {
				.rli;
				&>a {
					display: block;
					text-decoration: none;
					text-transform: uppercase;
					padding: 10px 20px;
					line-height: 1.2;
					color: #fff;
					border-bottom: 1px solid #fff;
					background: @c4;
					&:hover{
						background: @c3;
					}
				}
				ul {
					.rul;
					padding: 10px 20px;
					li {
						.rli;
						text-transform: uppercase;
						margin: 10px 0;
						line-height: 1;
						font-weight: bold;
						a {
							color: @c1;
						}
						ul {
							position: relative;
							padding: 5px 0 5px 20px;
							&:before{
								.fi;
								content: '\e809';
								position: absolute;
								top: 13px;
								left: 0;
								line-height: 1;
								font-size: 8px;
							}
							li {
								display: inline-block;
								text-transform: none;
								font-weight: normal;
								margin: 5px 5px 5px 0;
								&:after{
									content: ',';
								}
							}
						}
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	clear: both;
	padding: 0 0 10%;
	.menu-on & {
		display: none;
	}
	.container {
		position: static;
	}
	.items {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		overflow: hidden;
		@media @sm, @xs {
			position: relative;
		}
		.item {
			position: relative;
			@media @md {
				margin: 0 -20%;
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: url(../images/bg/03.png);
			}
			img {
				display: block;
			}
		}
	}
}
.mod_custom-slideshow-pager {
	position: absolute;
	top: -46px;
	right: 0;
	@media @sm, @xs {
		right: 20px;
	}
	.pager {
		display: inline;
	}
	span {
		float: left;
		width: 24px;
		height: 24px;
		line-height: 18px;
		font-weight: bold;
		margin: 0 0 0 4px;
		text-align: center;
		background: fade(#fff,50);
		border: 2px solid #fff;
		cursor: pointer;
		&:hover{
			background: @c4;
		}
		&.cycle-pager-active {
			color: #fff;
			background: @c1;
		}
	}
	.prev, .next {
		font-weight: normal;
		line-height: 16px;
		font-size: 15px;
		&:before{
			.fi;
			content: '\e808';
			font-size: 10px;
		}
	}
	.next {
		&:before{
			content: '\e809';
		}
	}
}
.mod_newsflash_xart {
	margin: 0 0 20px;
	.tabs {
		position: relative;
		z-index: 1;
		@media @lg, @md, @sm {
			ul {
				.rul;
				.clearfix;
				li {
					.rli;
					float: left;
					margin: 10px -2px 0 0;
					&:nth-child(10) {z-index: 1;}
					&:nth-child(9) {z-index: 2;}
					&:nth-child(8) {z-index: 3;}
					&:nth-child(7) {z-index: 4;}
					&:nth-child(6) {z-index: 5;}
					&:nth-child(5) {z-index: 6;}
					&:nth-child(4) {z-index: 7;}
					&:nth-child(3) {z-index: 8;}
					&:nth-child(2) {z-index: 9;}
					&:nth-child(1) {z-index: 10;}
					a {
						position: relative;
						display: block;
						height: 48px;
						line-height: 48px;
						text-transform: uppercase;
						text-decoration: none;
						color: @c1;
						padding: 0 30px;
						background: #fff;
						border-left: 2px solid #cfd8dc;
						border-top: 2px solid #cfd8dc;
						&:hover, &:hover:before{
							color: @c4;
						}
						&:before{
							transform: skewx(18deg);
							content: '';
							position: absolute;
							top: 0;
							right: -8px;
							width: 20px;
							bottom: 0;
							background: #fff;
							border-right: 2px solid #cfd8dc;
						}
					}
					&.cycle-pager-active {
						z-index: 11;
						margin-top: 0;
						&:first-child {
							&:before{
								display: none;
							}
						}
						&:before{
							transform: skewx(18deg);
							content: '';
							top: 0;
							left: -10px;
							width: 20px;
							bottom: 0;
							background: @c4;
						}
						a {
							padding-top: 5px;
							height: 58px;
							color: #fff;
							border-color: @c4;
							background: @c4;
							&:before{
								right: -9px;
								border-color: @c4;
								background: @c4;
							}
							&:after{
								content: '';
								position: absolute;
								top: 100%;
								right: -17px;
								border: 18px solid transparent;
								border-bottom-width: 0;
								border-top-color: @c4;
							}
						}
					}
				}
			}
		}
		@media @xs {
			ul {
				.rul;
				margin: 0 0 10px;
				li {
					.rli;
					margin: 0 0 -2px;
					a {
						display: block;
						padding: 12px 20px;
						text-transform: uppercase;
						text-decoration: none;
						line-height: 1.2;
						color: @c1;
						border: 2px solid #cfd8dc;
					}
					&.cycle-pager-active {
						z-index: 1;
						a {
							background: @c4;
							color: #fff;
							border-color: transparent;
						}
					}
				}
			}
		}
	}
	.panes {
		position: relative;
		padding: 45px 20px 20px;
		border: 2px solid #cfd8dc;
		@media @xxs {
			padding: 20px 0;
			border: 0;
		}
		.pane {
			&.cycle-slide {
				position: static!important;
				display: none!important;
				&.cycle-slide-active {
					display: block!important;
				}
			}
				
		}
	}
	.items {
		.item {
			line-height: 1.3;
			margin: 0 0 35px;
			.date {
				float: right;
				font-style: italic;
				font-size: 12px;
				margin: 11px 0 0;
				@media @xxs {
					float: none;
					margin: 0 0 5px;
				}
			}
			h2 {
				font-size: 23px;
				font-weight: bold;
				margin: 0 0 30px;
				a {
					color: @c2;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			figure {
				float: right;
				width: 160px;
				margin: -8px 20px 0;
				@media @xxs {
					float: none;
					width: auto;
					margin: 0 0 20px;
				}
				a {
					position: relative;
					display: block;
					padding: 5px;
					border: 2px solid #cfd8dc;
					&:hover{
						border-color: @c4;
					}
					&:before{
						.fi;
						content: '\e814';
						position: absolute;
						bottom: 5px;
						right: 5px;
						width: 28px;
						height: 28px;
						line-height: 28px;
						text-align: center;
						color: @c1;
						background: fade(#fff,50);
					}
				}
				img {
					display: block;
				}
			}
			p {
				a {
					white-space: nowrap;
					&:after{
						.fi;
						content: '\e809';
						display: inline-block;
						vertical-align: middle;
						font-size: 8px;
						margin: 0 0 0 5px;
					}
				}
			}
		}
	}
	nav {
		margin: 95px 0 0;
		@media @xs {
			margin: 0;
		}
		a {
			position: relative;
			display: block;
			padding: 24px 60px 18px 25px;
			text-transform: uppercase;
			text-decoration: none;
			color: @c1;
			line-height: 1.2;
			background: #cfd8dc;
			&:hover{
				color: #fff;
				background: @c4;
				&:before{
					color: #fff;
				}
			}
			&:before{
				.fi;
				content: '\e809';
				position: absolute;
				top: 50%;
				right: 20px;
				font-size: 16px;
				line-height: 1;
				margin: -8px 0 0;
				color: @c4;
			}
		}
	}
}
.mod_banners {
	margin: 0 0 20px;
	.mod-title {
		.module_title;
	}
	.content {
		clear: both;
		position: relative;
		padding: 40px 40px 15px;
		border: 2px solid #cfd8dc;
		.prev, .next {
			.transition(0.2s);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 60px;
			text-decoration: none;
			color: @c1;
			background: #e7ebed;
			&:hover{
				color: #fff;
				background: @c5;
			}
			&:before{
				.fi;
				content: '\e808';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				margin: -20px 0 0 -20px;
			}
		}
		.next {
			left: auto;
			right: 0;
			&:before{
				content: '\e809';
			}
		}
	}
	ul {
		.rul;
		clear: both;
		li {
			.rli;
			.transition(0.2s);
			display: inline-block;
			text-align: center;
			height: 52px;
			margin: 0 0 20px 35px;
			@media @xxs {
				&.cycle-slide {
					display: none!important;
					display: none!important;
					&.cycle-slide-active {
						display: block!important;;
					}
				}
			}
			img {
				display: block;
				max-height: 100%;
				width: auto!important;
				margin: auto;
			}
			a {
				
			}
		}
	}
	@media @xxs {
		.cycle-carousel-wrap {
			position: static!important;
			white-space: normal!important;
		}
	}
}
.mod_custom-topics {
	margin: 0 0 20px;
	.mod-title {
		.module_title;
		min-width: 50%;
	}
	.content {
		padding: 48px 30px 10px;
		clear: both;
		background: @c4;
		@media @md, @sm, @xs {
			padding: 20px 20px 10px;
		}
	}
	.items {
		.item {
			line-height: 1.3;
			margin: 0 0 13px;
			a {
				color: #fff;
			}
			h2 {
				font-weight: bold;
				font-size: 18px;
				text-transform: uppercase;
				margin: 0 0 8px;
			}
			p {
				margin: 0 0 12px;
			}
			nav {
				text-align: right;
				a {
					.btn;
					position: relative;
					height: 30px;
					line-height: 30px;
					margin: 0 25px 10px 0;
					line-height: 30px;
					background: @c1;
					&:hover{
						padding-left: 10px;
						padding-right: 30px;
						&:before{
							right: 7px;
						}
					}
					&:before{
						.fi;
						.transition(0.2s);
						content: '\e809';
						position: absolute;
						right: -7px;
						font-size: 14px;
					}
				}
			}
		}
	}
}
.mod_custom-calendar {
	margin: 0 0 20px;
	.mod-title {
		.module_title;
		min-width: 50%;
	}
	.content {
		clear: both;
		padding: 33px 25px 20px;
		border: 2px solid #cfd8dc;
		@media @md, @sm, @xs {
			padding: 20px 20px 10px;
		}
	}
	.items {
		margin: 0 0 18px;
		.item {
			.date {
				display: inline-block;
				vertical-align: top;
				color: #fff;
				line-height: 1.2;
				margin: 0 -4px 5px 0;
				padding: 6px 3px;
				width: 30%;
				font-weight: bold;
				font-size: 13px;
				text-align: center;
				background: @c5;
				@media @md, @xs {
					width: auto;
					padding: 6px 10px;
				}
				@media @sm {
					width: 20%;
				}
			}
			h2 {
				display: inline-block;
				margin: 0 0 13px;
				font-weight: bold;
				font-size: 16px;
				width: 70%;
				padding: 5px 0 0 17px;
				@media @md, @xs {
					display: block;
					width: auto;
					padding: 0;
				}
				@media @sm {
					width: 80%;
				}
				a {
					color: @c1;
				}
			}
		}
	}
	nav {
		text-align: right;
		@media @md, @sm, @xs {
			text-align: left;
		}
		a {
			.btn;
			position: relative;
			height: 30px;
			line-height: 30px;
			margin: 0 25px 10px 0;
			line-height: 30px;
			padding-right: 50px;
			color: @c1;
			background: @c4;
			&:hover{
				color: #fff;
				background: @c1;
				&:before{
					right: 12px;
				}
				&:after{
					display: none;
				}
			}
			&:before{
				.transition(0.2s);
			}
			&:before, &:after {
				.fi;
				content: '\e809';
				position: absolute;
				right: -7px;
				font-size: 14px;
			}
			&:after{
				content: '\e80c';
				right: 22px;
				font-size: 17px;
			}
		}
	}
}
.mod_custom-facebook {
	margin: 30px 0 30px 30px;
	@media @md, @sm, @xs {
		margin-left: 0;
	}
	iframe {
		border: 0;
		width: 100%!important;
	}
}
.mod_poll {
	margin: 0 0 20px;
	.mod-title {
		.module_title;
		min-width: 50%;
	}
	.content {
		clear: both;
		padding: 30px 28px 15px;
		font-size: 20px;
		line-height: 1.2;
		color: #fff;
		background: @c4 url(../images/bg/01.png) no-repeat right;
		@media @md, @sm, @xs {
			padding: 20px 20px 10px;
		}
	}
	label {
		display: block;
		position: relative;
		color: @c1;
		font-size: 16px;
		padding: 0 0 0 30px;
		margin: 0 0 7px;
		@media @sm, @xs {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
		}
	}
	.iradio {
		position: absolute!important;
		top: 0;
		left: 0;
		text-indent: -9999px;
		width: 16px;
		height: 16px;
		border: 2px solid #cfd8dc;
		background: #fff;
		&.checked {
			background: @c1;
		}
	}
	.buttons {
		margin: 30px 0 0 20px;
		text-align: center;
		@media @md {
			margin-left: 0;
		}
		button, a {
			.btn;
			position: relative;
			height: 30px;
			line-height: 30px;
			padding: 0 20px;
			margin: 0 25px 10px 0;
			line-height: 30px;
			background: @c1;
			@media @md {
				margin-left: 5px;
				margin-right: 5px;
			}
			&:hover{
				padding-left: 10px;
				padding-right: 30px;
				&:before{
					right: 7px;
				}
			}
			&:before{
				.fi;
				.transition(0.2s);
				content: '\e809';
				position: absolute;
				right: -7px;
				font-size: 14px;
			}
		}
	}
}
.mod_xnewsletter {
	margin: 0 0 20px;
	.mod-title {
		.module_title;
		color: @c4;
		background: @c1;
		&:before{
			background: @c1;
		}
		&:after{
			border-top-color: @c1;
		}
		span {
			&:before{
				.fi;
				content: '\e80f';
				float: right;
				font-size: 28px;
				margin: -9px 0 -5px 9px;
			}
		}
	}
	.content {
		text-align: right;
		clear: both;
		padding: 38px 20px 20px;
		background: #546e7a;
	}
	[type="text"], [type="email"] {
		.border-radius(3px);
		border-color: transparent;
		height: 30px;
		margin: 0 0 12px;
	}
	button {
		position: relative;
		height: 30px;
		line-height: 30px;
		padding: 0 20px;
		line-height: 30px;
		background: @c4;
		&:hover{
			padding-left: 10px;
			padding-right: 30px;
			&:before{
				right: 7px;
			}
		}
		&:before{
			.fi;
			.transition(0.2s);
			color: @c1;
			content: '\e809';
			position: absolute;
			right: -7px;
			font-size: 14px;
		}
	}
}
.mod_menu-footer {
	margin: 0 20px 10px;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			font-size: 14px;
			margin: 0 7px 0 0;
			&:last-child {
				&:after{
					display: none;
				}
			}
			&:after{
				.rotate(-15deg);
				content: '|';
				display: inline-block;
				margin: 0 0 0 10px;
			}
			a {
				color: @c1;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar {
	padding: 20px;
	margin: 0 0 20px;
	border: 2px solid #cfd8dc;
	.mod-title {
		font-size: 18px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0 5px 14px;
		margin: 0 0 26px;
		border-bottom: 2px solid #cfd8dc;
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			margin: 0 0 18px;
			&.act {
				&>a {
					color: @c3;
				}
			}
			&>a {
				display: inline-block;
				color: @c1;
				line-height: 1.2;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0 0 0 30px;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.fi;
					content: '\e809';
					position: absolute;
					left: 5px;
					top: 5px;
					font-size: 14px;
					line-height: 1;
					color: @c3;
				}
			}
			ul {
				.rul;
				padding: 15px 0 0 30px;
				li {
					line-height: 1.2;
					padding: 0 0 0 12px;
					margin: 0 0 6px;
					&:before{
						content: '_';
						font-size: 12px;
						top: -1px;
					}
					&.act {
						&>a {
							font-weight: bold;
						}
					}
					a {
						color: @c1;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					ul {
						padding: 5px 0 5px 10px;
					}
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 0 0 20px;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			color: lighten(@c5,20);
			margin: 0 4px 5px 0;
			&:last-child {
				&:after{
					display: none;
				}
			}
			&.home {
				font-size: 0;
				a {
					text-decoration: none;
					&:hover{
						text-decoration: none;
						&:before{
							color: @c4;
						}
					}
					&:before{
						.fi;
						font-size: 12px;
						content: '\e815';
					}
				}
			}
			&:after{
				content: '|';
				font-size: 12px;
				margin: 0 0 0 8px;
			}
			a {
				display: inline-block;
				color: lighten(@c5,20);
			}
		}
	}
}
#page-footer {
	position: relative;
	padding: 15px 0;
	background: @c4;
	.menu-on & {
		display: none;
	}
	&, &:before {
		background-image: url(../images/bg/03.png);
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.copy {
		float: left;
		margin: 0 20px;
		font-size: 14px;
		color: #fff;
		a {
			color: #fff;
		}
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 12px;
		margin: 0 20px;
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 14px;
			margin: 0 0 0 8px;
		}
	}
}

#gotop{
	a{
		.transition(0.2s);
		.box-shadow(-2px -2px 0 fade(#000,10));
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @c2;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80a';
			font-size: 20px;
		}
		&:hover{
			background: darken(@c4,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}